body{
  background-color: #2d3844;
  color: white;
  
  
}
a{
  color: #E12F52;
}

.btn-success{
  background-color: #7f5af0;
  color: #fffffe;
  border-color: #7f5af0;
}
.btn-success:hover{
   background-color: #673aed;
   color: #fffffe;
   border-color: #4c18e6;
}

.btn-secondary{
 background-color: #2cb67d;
}

.card{
  background-color: #fdfdfd;
}
